/**-----Google Fonts-----**/

@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&family=Radley&display=swap');

/**-----Google Fonts Ends-----**/

/**-----Text-----**/

.headings-dark {
    font-family: "Quattrocento", sans-serif;
    color: #312018;
}

.content-dark {
    font-family: "Radley", sans-serif;
    color: #312018;
}

.headings-light {
    font-family: "Quattrocento", sans-serif;
    color: #fff;
}

.content-light {
    font-family: "Radley", sans-serif;
    color: #fff;
}

.headings-color {
    font-family: "Quattrocento", sans-serif;
    color: #c8831b;
}

.content-color {
    font-family: "Radley", sans-serif;
    color: #c8831b;
}

/**-----Text Ends-----**/

/**-----Logo Row-----**/

#logo-image {
    height: 120px;
    width: 200px;
    object-fit: cover;
    margin: 0.5rem;
}

#logo-bar {
    height: 136px;
    width: 100%;
}

#sound-effects {
    background-color: #1c961b;
    color: #312018;
    border-radius: 10px;
    border: #312018 solid 2px;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

#sound-effects:hover {
    background-color: #312018;
    color: #1c961b;
    border: #1c961b solid 2px;
}


/**-----Logo Row Ends-----**/

/**-----Home Page Hero-----**/

.hero-image { /*-- Thanks to Matt Rudge at Code Institue for this code --*/
    height:90vh;
    background: url('../images/haka.jpg') no-repeat center bottom;
    background-size: cover;
    position: relative;
}

.center { /*-- Thanks to https://www.w3schools.com/howto/howto_css_center_button.asp for centering button --*/
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.kick-off {
    height: 100px;
    width: 200px;
    border-radius: 10px;
    background-color: #312018;
    opacity: 0.9;
    border: #c8831b solid 2px;
    color: #fff;
    font-size: 2rem;
}

.kick-off:hover {
    background-color: #ca9950;
    border: #312018 solid 2px;
    color: #312018;
}

.hidden {
    display: none;
}

/**-----Home Page Hero Ends-----**/

/**-----Game Page-----**/

.game-hero-image { /*-- Thanks to https://css-tricks.com/perfect-full-page-background-image/ for game page background image--*/
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url("../images/rugby-field.png") no-repeat center center scroll; /*--thanks to stack overflow (credited in README)--*/
    background-size: cover;
    min-height: 100vh;
}

#overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    color: #c8831b;
    font-family: "Quattrocento", sans-serif;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.8);
}

#overlay-text.visible {
    display: flex;
    animation: overlay-grow 500ms forwards;
}

.game-info-div {
    max-width: 550px;
}

.game-info-pro-div {
    max-width: 690px;
}

.game-info-leg-div {
    max-width: 830px;
}

.game-info {
    background-image: radial-gradient(#312018, black);
    border: #c8831b solid 2px;
    margin: 1rem;
    padding-top: 8px;
    border-radius: 10px;
    max-width: 170px;
}

.game-container {
    width: 550px;
    height: 750px;
    display: flex;
    margin: auto;
    margin-top: 1rem;
    flex-wrap: wrap;
    perspective: 500px;
}

.game-container.container-pro {
    width: 690px;
}

.game-container.container-leg {
    width: 830px;
}

.game-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.game-card.card-pro {
    width: calc(20% - 10px);
}

.game-card.card-leg {
    width: calc(16.666% - 10px);
}

.game-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.game-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
    border: 2px solid #c8831b;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}


/**-----Game Page Ends-----**/

/**-----Footer-----**/

.footer-background {
    background-color: #312018;
}

.icons {
    color: #fff;
    font-size: 1.5rem;
    margin: 1rem;
}

.icons:hover {
    color: #c8831b;
}

/**-----Footer Ends-----**/

/**-----Modals-----**/

.modal-header {
    text-align: center;
    display: block;
}

.modal-content {
    background-image: radial-gradient(#f7d8a9, #ca9950);
    border-radius: 30px;
    overflow: hidden;
}

.modal-buttons {
    height: 50px;
    width: 140px;
    border-radius: 20px;
    margin: 1rem;
    background-image: radial-gradient(#312018, black);
    border: #c8831b solid 2px;
}

#clearStorage {
    height: 80px;
}

.modal-buttons:hover {
    color: #c8831b;
}

/*-- modal scrollable taken from https://stackoverflow.com/questions/10476632/how-to-scroll-the-page-when-a-modal-dialog-is-longer-than-the-screen --*/
.modal-body.leader-body {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.fa-star {
    opacity: 0.5;
}

.leaderR {
    color: #c8831b;
    opacity: 1;
}

.modal-image {
    width: 110px;
    height: 170px;
    object-fit: cover;
    margin-bottom: 1rem;
    animation: dance 1s linear infinite;
}

#username {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#highScoresList {
    list-style: none;
    margin-bottom: 1rem;
    padding-left: 0;
}

.listItems {
    list-style: none;
    padding-left: 0;
}

.resultName {
    font-size: 1rem;
    text-transform: capitalize;
}

.resultScore {
    font-size: 1.5rem;
    color: #fbf41d;
}

.leader-container {
    background-color: #312018;
    margin: 1rem;
    border-radius: 20px;
    color: #fff;
    padding-top: 1rem;
    border: 2px solid #fff;
}

#tackle {
    width: 170px;
    height: 170px;
    animation: dance 3s linear infinite;
}

@keyframes dance { /**web dev**/
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-20deg);
    }
    75% {
        transform: rotate(20deg);
    }
}

/**-----Modals End-----**/

/**-----Media Queries-----**/

@media screen and (max-width: 870px) {
   .game-container.container-leg {
    width: 690px;
    height: 625px;
    } 
}

@media screen and (max-width: 720px) {
    .game-card.card-pro {
    width: calc(25% - 10px);
    height: calc(20% - 10px);
    }

    .game-container.container-pro {
    width: 550px;
    height: 940px;
    }

    .game-card.card-leg {
    width: calc(25% - 10px);
    height: calc(16.666% - 10px);
    }
    .game-container.container-leg {
    width: 550px;
    height: 1090px;
    }
    #sound-effects {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    }
}

@media screen and (max-width: 600px) {
    .game-container {
    width: 450px;
    height: 620px;
    }
    .game-container.container-pro {
    width: 450px;
    height: 730px;
    }
    .game-container.container-leg {
    width: 450px;
    height: 890px;
    }

}

@media screen and (max-width: 480px) {
    .game-container {
    width: 350px;
    height: 500px;
    }
    .game-container.container-pro {
    width: 350px;
    height: 570px;
    }
    .game-container.container-leg {
    width: 350px;
    height: 695px;
    }
    #sound-effects {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    }
}

@media screen and (max-width: 395px) {
    .game-container {
    width: 280px;
    height: 390px;
    margin-top: 0.5rem;
    }
    .game-container.container-pro {
    width: 280px;
    height: 460px;
    margin-top: 0.5rem;
    }
    .game-container.container-leg {
    width: 280px;
    height: 555px;
    margin-top: 0.5rem;
    }
    .game-card {
    width: calc(25% - 4px);
    height: calc(25% - 4px);
    margin: 2px;
    }
    .game-card.card-pro {
    width: calc(25% - 4px);
    height: calc(20% - 4px);
    margin: 2px;
    }
    .game-card.card-leg {
    width: calc(25% - 4px);
    height: calc(16.666% - 4px);
    margin: 2px;
    }
    #logo-image {
    height: 90px;
    width: 150px;
    }
    #logo-bar {
    height: 102px;
    }
    .headings-small {
        font-size: 16px;
    }
    .game-info {
        max-width: 80px;
    }
}

@media screen and (max-width: 280px) {
    .game-container {
    width: 250px;
    height: 350px;
    margin-top: 0.5rem;
    }
    .game-container.container-pro {
    width: 250px;
    height: 410px;
    margin-top: 0.5rem;
    }
    .game-container.container-leg {
    width: 250px;
    height: 495px;
    margin-top: 0.5rem;
    }
}

/**-----Media Queries Ends-----**/